//Dark color is the background
$darkColor: #2B74A1;
//Medium color is Unlit
$mediumColor: rgba(115,133,145,0.65);
//Light color is Lit
$lightColor: rgba(255,255,255,.676);
//Transparent Color Is the main item background color
$transparentColor: rgba(255,255,255,.21);
//Red is the Broken color
$red: #C42E2E;
//Font color is for the text and icons
$fontColor:#EBF1F5;

// Named Breakpoint Values
$breakpoints: (
        small: 320px,
        medium: 640px,
        large: 1024px,
        x-large: 1600px,
        xx-large: 2800px,
);