@import "../../../../styles/variables";

/*Outer Ring with indicators now with grid*/
.gridItem{
  display: grid;
  grid-area: 1 /-1;
}
.sliceWrapper {
  position: relative;
  margin: auto;
  border: 10px solid $transparentColor;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;

}
.slice {
  position: absolute;
  width: 200%;
  height: 200%;
}

li.chunk {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  border-top: 10px solid $transparentColor;
  border-bottom: 10px solid $transparentColor;
}
.center{
  display: grid;
  grid-area: 1 /-1;
  position: relative;
  margin: auto;
  height: 220px;
  width: 220px;
  background-color: $transparentColor;
  border-radius: 50%;
}
.slice.lit{
  background: $lightColor;
}
.slice.unlit{
  background: $mediumColor;
}
.slice.red{
  background: $red;
}
