@import "../../styles/variables";

$numberOfSlices:8;
$radius: (360/$numberOfSlices) * 1deg;
$skewCalc: ((360/$numberOfSlices) + 90) * 1deg;

.sliceWrapper {
  position: relative;
  border: 1px solid black;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}

.slice {
  position: absolute;
  //left: -100%;
  width: 200%;
  height: 200%;
}

li {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  border: 2px solid white;
}
.center{
  position: absolute;
  top: 10px;
  left: 10px;
  height: 180px;
  width: 180px;
  background-color: white;
  z-index: 5;
  border-radius: 50%;
}
.lit{
  background: $lightColor;
}
.unlit{
  background: $darkColor;
}
.red{
  background: $red;
}


.cross{
  overflow: visible;
  color: white;
  position: relative;
  width: 30px;
  height: 30px;
  background: $red;
  border-radius: 50%;
  text-align: center;
  padding: 3px;
  top: 130px;
  transform: rotate(-(0 * 45deg)) skewY(-135deg);
  border: 1px solid;
  left: 15px;
}