@import "../../../../styles/variables";

.half-circle{
  display: grid;
  grid-area: 2/1 /1 /1;
  height: 100px;
  width: 200px;
  border-radius: 150px 150px 0 0;
  background-color: $transparentColor;
  border-bottom: 2px solid $darkColor;
  border-top: 5px solid $darkColor;
  border-right: 5px solid $darkColor;
  border-left: 5px solid $darkColor;
  outline: 0;
  font-size: 24px;
  z-index: 2;
  //todo fix this when i do curved text
  span{
    color: $fontColor;
  }

  &::after{
    position: relative;
    content: '';
    height: 25px;
    width: 50px;
    border: 1px solid $darkColor;
    border-radius: 45px 45px 0 0;
    background-color: $darkColor;
    top: -47px;
    left: 68px;
  }
}
