@import "../../../../styles/variables";

path {
  fill: transparent;
}
text {
  fill: $fontColor;
  font-family: sans-serif;
  text-anchor: middle;
}
.text{
   display: grid;
  position: relative;
  top: 20px;
}