@import './styles/variables';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  background-color: $darkColor;
  min-height: 100vh;

  margin: auto;
}

.flexContainer{
  display: flex;
  min-width: 100px;


}
.flex{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}