@import '../../styles/variables';
.stateChanger{
  display: grid;
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px;
  padding: 100px;
}

.item{
  display: flex;
  width: 300px;
  height: 20px;
  p{
    padding-right: 20px;
  }
}
.button {
  background-color:#44c767;
  border-radius:28px;
  border:none;
  display:inline-block;
  cursor:pointer;
  color:#333;
  font-family: Arial, sans-serif;
  font-size:14px;
  padding:4px 12px;
  text-decoration:none;
  text-shadow:0 1px 0 #2f6627;
  width: 120px;

}
.button:hover {
  background-color:#fff;
}
.button:active {
  position:relative;
  top:1px;
}
.red {
  background-color: $red;
}
.lit {
  background-color: $lightColor;
}
.unlit{
  background-color: $mediumColor;
}





